
body {
    font-family: Arial, sans-serif;
    background-color: #8cd31b;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 800px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 15px;
    background-color: #71c86a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0bad08;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background: #e64757;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

li button:hover {
    background: #b22e3c;
}
li.completed {
    text-decoration: line-through;
    background: #d4edda;
}
#task-list li[data-priority="low"] {
    color: rgb(3, 58, 3);
    background-color: #98cc94;
    list-style-type:disc;
}

#task-list li[data-priority="medium"] {
    color: rgb(161, 106, 4);
    background-color: #e9b874;
    list-style-type: disc;
}

#task-list li[data-priority="high"] {
    color: red;
    background-color: #bc5c59;
    list-style-type: disc;
}